body {
    padding: 10px;
    height: 200px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

#actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
}

#actions li {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 5px;
}

#actions li span {
    display: block;
    margin-top: 5px;
}

#actions li .badge {
    display: inline-block;
    background: white;
    padding: 2px;
    margin-right: 4px;
    border-radius: 3px;
}

.state_change {
    background: lightgoldenrodyellow;
}

.transfer_issue {
    background: tomato;
}

.transfer_received {
    background: lightgreen;
}

